
.cart-main {
    display: grid;
    grid-template-areas: 2fr 1fr;
    grid-auto-flow: column;
    margin: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
}

.cart-body{
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50vw;
}

.cart-body .card{
    width: 19.5rem;
}

.cart-item-image{
    height: 15rem;
}

.card-title{
    white-space: nowrap;
}


.quantity{
    align-self: center;
    padding: 0.7rem 0.55rem;
}

.cart-price-title{
    font-weight: 600;
    text-align: center;
}

.cart-price-content{
    width: 18em;
    justify-content: space-between;
}

.flex-table{
    width: 100%;
}

.price-list{
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
}
.line-break{
    margin: 1rem 0;
}
.cart-body .product-image{
    width: 19.5rem;
    max-height: 100%;
}

.cart-body .remove-from-wishlist-button{
    padding: 0 0.2rem ;
    white-space: nowrap;
}

.qty-btn{
    border: none;
    font-size: 1rem;
}

.discount-price-text{
    color: var(--text-danger);
}