.App {
  text-align: center;
}

body{
  background-color: var(--bg-color);
}

.page-layout {
  display: grid;
  grid-template-areas:
      "nav-bar"
      "main"  ;
  background-color: var(--bg-color);
} 